<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>LJHeader</key>
		<string>打开设置后,立即收到消息</string>
		<key>LJFooter</key>
		<string></string>
		<key>LJItems</key>
		<array>
			<dict>
				<key>LJTitle</key>
				<string>双色球</string>
				<key>LJAccessoryType</key>
				<string>UISwitch</string>
				<key>LJSubtitle</key>
				<string>每周二,四,日开奖</string>
				<key>LJCellStyle</key>
				<string>UITableViewCellStyleSubtitle</string>
				<key>LJKeyName</key>
				<string>settingPush1_shuangseqiu</string>
			</dict>
			<dict>
				<key>LJTitle</key>
				<string>大乐透</string>
				<key>LJAccessoryType</key>
				<string>UISwitch</string>
				<key>LJSubtitle</key>
				<string>每周二,四,日开奖</string>
				<key>LJCellStyle</key>
				<string>UITableViewCellStyleSubtitle</string>
				<key>LJKeyName</key>
				<string>settingPush1_daletou</string>
			</dict>
			<dict>
				<key>LJTitle</key>
				<string>3D</string>
				<key>LJAccessoryType</key>
				<string>UISwitch</string>
				<key>LJSubtitle</key>
				<string>每周二,四,日开奖</string>
				<key>LJCellStyle</key>
				<string>UITableViewCellStyleSubtitle</string>
				<key>LJKeyName</key>
				<string>settingPush1_3D</string>
			</dict>
			<dict>
				<key>LJTitle</key>
				<string>七乐彩</string>
				<key>LJAccessoryType</key>
				<string>UISwitch</string>
				<key>LJSubtitle</key>
				<string>每周二,四,日开奖</string>
				<key>LJCellStyle</key>
				<string>UITableViewCellStyleSubtitle</string>
				<key>LJKeyName</key>
				<string>settingPush1_qilecai</string>
			</dict>
			<dict>
				<key>LJTitle</key>
				<string>七星彩</string>
				<key>LJAccessoryType</key>
				<string>UISwitch</string>
				<key>LJSubtitle</key>
				<string>每周二,四,日开奖</string>
				<key>LJCellStyle</key>
				<string>UITableViewCellStyleSubtitle</string>
				<key>LJKeyName</key>
				<string>settingPush1_qixingcai</string>
			</dict>
			<dict>
				<key>LJTitle</key>
				<string>排列3</string>
				<key>LJAccessoryType</key>
				<string>UISwitch</string>
				<key>LJSubtitle</key>
				<string>每周二,四,日开奖</string>
				<key>LJCellStyle</key>
				<string>UITableViewCellStyleSubtitle</string>
				<key>LJKeyName</key>
				<string>settingPush1_pailie3</string>
			</dict>
			<dict>
				<key>LJTitle</key>
				<string>排列5</string>
				<key>LJAccessoryType</key>
				<string>UISwitch</string>
				<key>LJSubtitle</key>
				<string>每周二,四,日开奖</string>
				<key>LJCellStyle</key>
				<string>UITableViewCellStyleSubtitle</string>
				<key>LJKeyName</key>
				<string>settingPush1_pailie5</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
